{% extends "layout/master.html" %}

{% block start %}
{% load static %}
<div class="row">

	<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
              	<div class="card-header" style="border-radius: inherit;">
              		<div class="row">
	              		<div class="col-sm-4 col-md-4 col-lg-4">
	              			<a href="/hospital/user-list" class="badge badge-info">Back</a>
	              		</div>
	              		<div class="col-sm-4 col-md-4 col-lg-4">
	              			<h4 class="card-title">User Details</h4>
	              		</div>
	              		<div class="col-sm-4 col-md-4 col-lg-4"></div>
                		<!-- <p class="card-description">Add class <code>.table-striped</code></p> -->
                	</div>
                </div>
                <div class="card-body">
                  <form class="form-sample">
                  <!-- ========= open card-body ============= -->
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="profile-img">
                        <img src='{% static "icons/img_male.png" %}' alt="profile" class="profile-avatar"/>
                      </div>
                      <input type="file" name="profile_img" value="" class="file-size" placeholder="Select Profile Image" pattern="">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <!-- ====================== -->
                      
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Name</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" value="{{item.name}}" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Email</label>
                              <div class="col-sm-9">
                               <input type="text" class="form-control" name="name" value="{{item.email}}" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Gender</label>
                              <div class="col-sm-9">
                                <select class="form-control">
                                  <option>Male</option>
                                  <option>Female</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Date of Birth</label>
                              <div class="col-sm-9">
                                <input class="form-control" placeholder="dd/mm/yyyy"/>
                              </div>
                            </div>
                          </div>
                        </div>


                       <!--  <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Category</label>
                              <div class="col-sm-9">
                                <select class="form-control">
                                  <option>Category1</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Membership</label>
                              <div class="col-sm-4">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                                    Free
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                                    Professional
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->

                      
                      

                      <!-- ====================== -->
                    </div>
                  </div>
                  <!-- ================================2================================== -->

                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <!-- ====================== -->
                      
                       <hr>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Category</label>
                              <div class="col-sm-9">
                                <select class="form-control">
                                  <option>Category1</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Membership</label>
                              <div class="col-sm-4">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                                    Free
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                                    Professional
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="card-description">
                          Address
                        </p>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Address 1</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">State</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Address 2</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Postcode</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">City</label>
                              <div class="col-sm-9">
                                <input type="text" class="form-control" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label">Country</label>
                              <div class="col-sm-9">
                                <select class="form-control">
                                  <option>America</option>
                                  <option>Italy</option>
                                  <option>Russia</option>
                                  <option>Britain</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      

                      <!-- ====================== -->
                    </div>
                  </div>

                  <!-- =================================2================================= -->
                  </form>
                <!-- ========= closed card-body ============= -->
                </div>

                <div class="card-footer">
                	<p>Page: </p>
                </div>

              </div>
            </div>
	
</div>

{% endblock start %}