{% extends "layout/master.html" %}

{% block start %}
{% load static %}
<div class="row">

	<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
              	<div class="card-header" style="border-radius: inherit;">
              		<div class="row">
	              		<div class="col-sm-4 col-md-4 col-lg-4">
	              			<a href="/hospital/doctors" class="btn btn-outline-primary btn-sm">Back</a>
	              		</div>
	              		<div class="col-sm-4 col-md-4 col-lg-4">
	              			<h4 class="card-title"> Doctor's Details</h4>
	              		</div>
	              		<div class="col-sm-4 col-md-4 col-lg-4"></div>
                		<!-- <p class="card-description">Add class <code>.table-striped</code></p> -->
                	</div>
                </div>
                <div class="card-body">
                  
                  <!-- ========= open card-body ============= -->
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="profile-img">
                        <img src='{% static "icons/doctor-icon.png" %}' alt="profile" class="profile-avatar"/>
                      </div>
                      
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">

                      <div class="table-responsive">
                        <table class="table xtable">
                          <tbody>
                            <tr>
                              <td>Doctor Name:</td><td>{{item.name}}</td>
                              <td>Specialization:</td><td></td>
                            </tr>
                            <tr>
                              <td>Gender:</td><td>{{item.sex}}</td>
                              <td>Age:</td><td></td>
                            </tr>
                            <tr>
                              <td>Mobile:</td><td>{{item.mobile}}</td>
                              <td>Email:</td><td>{{item.email}}</td>
                            </tr>
                            <tr>
                              <td>Address 1:</td><td>{{item.address}}</td>
                              <td>Address 2:</td><td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <h4>Doctor's Education Details:</h4>
                      <div class="table-responsive">
                        <table class="table table-striped display expandable-table">
                          <thead>
                            <tr><th>Degree</th><th>College</th><th>Passing Year</th></tr>
                          </thead>
                          <tbody>
                            
                            <tr><td>M.B.B.S</td><td>Dr. B. R. Sur Homoeopathic Medical College, Hospital and Research Centre</td><td></td></tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <h4>Doctor's Registration Details:</h4>
                      <div class="table-responsive">
                        <table class="table table-striped display expandable-table">
                          <thead>
                            <!-- <tr><th colspan="4">Doctor's Registration Details:</th></tr> -->
                            <tr><th>Council</th><th>Registration Number</th><th>Year</th></tr>
                          </thead>
                          <tbody>
                            
                            <tr><td>Delhi Medical Council</td><td>CCC0184851165</td><td>2019</td></tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>

                    

                  </div>
                  <br>
                  <!-- <button type="submit" class="btn btn-primary mb-2">Registar an doctor</button> -->
                  <button class="btn btn-sm btn-danger mb-2">Rejected</button>
                  <button class="btn btn-sm btn-success mb-2">Approved</button>
<!-- ============ -->
                </div>

                <div class="card-footer">
                	<p>Notes:- </p>
                </div>

              </div>
            </div>
	
</div>

{% endblock start %}